html, body {
    background-color: #fff;
    font-family: "IBM Plex Sans JP", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #001100;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 1rem;
}

.layout {
    width: 50%;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    background-color: white;
    /* box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3); */
    /* overflow: hidden; */
}

.card {
    /* padding-top: 1rem; */
    border-bottom: 2px dotted #001100;
    padding-bottom: 1rem;
    width: 100%
}

ul {
    list-style: none;
    padding-left: 0rem;
    margin-top: 0rem;
}

.navlist {
    display: inline;
    margin-right: 1rem;
}

.pagination {
    display: inline;
    margin-right: 1rem;
}

.nav {
    border-bottom: 2px dotted #000;
    margin-top: 1rem;
}

blockquote {
    padding: 2rem;
    background-color: #efefef;
    font-size: 1rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.main {
    /* display: inline-block; */
    width: 100%;
    /* margin-top: 2rem; */
    margin-left: auto;
    /* padding-right: 5%; */
}

p {
    margin: .5rem 0rem;
}

.sidebar {
    /* display: inline-block; */
    /* width: 25%; */
    /* vertical-align: top; */
    height: 90vh;
    top: 1rem;
    /* margin-top: 2rem; */
    margin-right: 5%;
    position: sticky;
}

h3 {
    margin-bottom: .5rem;
}

.sidebar h3 {
    margin-top: 0rem;
}

.post-title {
    margin-top: 0rem;
}

#site-title {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#site-title a {
    color: #001100;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    margin-top: 0rem;
}

.tddesc {
    padding-left: 2rem;
}

.tag::before{
    content: '🏷️'
}

img {
    width: 100%;
}

@media (max-width: 1100px) {
    html, body {
        background-color: #fff;
    }
    .layout {
        width: auto;
        margin: 0rem;
        padding: 0.5rem;
        /* padding: auto; */
        background-color: white;
        box-shadow: none;
    }
    .container {
        display: inline-block;
        padding-top: 1rem;
    }
    .main {
        display: inline-block;
        width: 100%;
        /* margin-top: 2rem; */
        margin-right: 5%;
    }
    .sidebar {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        /* margin-top: 2rem; */
        position:inherit;
        height: 100%;
        margin-bottom: 1rem;
    }
    blockquote {
        margin: 1rem 0rem;
    }
    .tdimg {
        width: 100%;
    }
}